---
import Button from "../ui/Button.astro";
---

<style lang="scss">
    @use "../sections/_Hero.scss";
</style>

<section
    class="hero-section flex flex-col md:flex-row justify-between h-[100vh] items-center text-white bg-black min-h-[80vh] overflow-hidden"
>
    <div
        class="hero-image w-full md:w-1/2 flex justify-center md:justify-start"
    >
        <img
            src="/IITH-RACING CAR.webp"
            alt="Aeolus Car"
            class="max-w-[90%] md:max-w-[85%] object-contain drop-shadow-xl"
            fetchpriority="high"
        />
    </div>

    <div
        class="hero-content w-full md:w-1/2 mt-10 md:mt-0 text-center md:text-left"
    >
        <h1 class="text-8xl md:text-7xl font-extrabold mb-4">Aeolus Racing</h1>
        <p class="text-lg md:text-3xl font-light mb-6">
            Engineering Speed. Racing Innovation.
        </p>
        <div
            class="button-container w-128 flex justify-center md:justify-start gap-4"
        >
            <Button variant="outline">Meet the Team</Button>
            <Button variant="solid">Contact Us</Button>
        </div>
    </div>

    <div class="car-trail"></div>
    <img src="/f1car.webp" alt="Formula car" loading="lazy" decoding="async" class="f1-car" />
</section>
